@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");

body, html {
    background-color: #2E3336
}
.navbar.fixed-top {
    position: relative !important;
    top: 0 !important;
}
.navbar-toggler{
   background-color: #fbd600;
   border-color: none;
}

.navbar-nav .nav-link{
    color: #C4CFDE;
    font-family: 'Montserrat', sans-serif;  
    font-size: 13px;
    text-transform: uppercase;
    position: static;
}

.navbar-nav .nav-link:hover{
    color: #fff;
}

.nav-link.stay{
    color: #fff;
}

.nav-link.dropdown-toggle.show{
    color: #C4CFDE;
}

.main-title h1{
    color: #fbd600;
    font-family: 'Poppins', sans-serif;
}

.main-title p{
    font-family: 'Montserrat', sans-serif;
    color :#C4CFDE
}

.main-title span{
    color: #fbd600;
    text-decoration: underline;
}

.main-title a{
    color: #fbd600;
    text-decoration: underline;
}

.service-card {
    border: 1px solid;
    border-radius: 8px;
    transition: transform 0.2s;
    background-color: #17181f;
}

.service-card:hover {
    transform: scale(1.05);
}

.card-title{
    color:#fbd600;
}

.card-text{
    color:#C4CFDE
}

.card-subtitle{
    color: #C4CFDE
}

.card-feature{
    color: #C4CFDE
}

.card-specs{
    color: #fff
}

.accordion-item {
    background-color: #17181f;
    border: none;
    margin-top: 5px; /* Elimina la margen */
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #17181f;
    border: none;
    margin: 0; /* Elimina la margen */
  }
  
  .accordion-button {
    background-color: #17181f;
    color: white;
    border: none;
    border: none;
    margin: 0; /* Elimina la margen */
  }
  
  .accordion-button:not(.collapsed) {
    color: #fff;
    border: none;
    margin: 0; /* Elimina la margen */
    box-shadow: none;
  }
  

  .accordion-button:focus{
    border-color: #17181f;
    box-shadow: none;
  }
  .accordion-body {
    background-color: #17181f;
    color: #C4CFDE;
    border: none;
    margin: 0; /* Elimina la margen */
  }

  #hola{
    max-width: 1200px;
    margin: auto;
  }

  .locations p{
    font-family: 'Poppins', sans-serif;
    color :#fff;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .locations-title h3{
    color: #fbd600
  }

  .locations-title p{
    font-family: 'Montserrat', sans-serif;
    color :#C4CFDE
  }